#section-about { 
    background-color: white;
    padding-bottom: 6rem;
    
}
/*                                  text section about                                */
#text-about{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}
.text-about-in{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
#text-about h1{
    text-align: center;
    padding-top: 11vh;
    font-size: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}


#text-about h2{
    font-size: 2vh;
    padding-top: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 50;
    font-size: 2.5vh;
}

/*                                  img section about                                */

.img-about{
    background-image: url(../assets/recSquare.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 30vh;
    padding-bottom: 40vh;
}
.img-about img{ 
    width: 100%;
    height: 70vh;
    object-fit:cover;
}
