#section-lastPic{
    background-image: url(../assets/lastPic.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20rem;
    padding-bottom: 20rem;
}
#section-contact{
    background-color: white;
}
.form{
    text-align: center;
}
.section-contact-text{
    text-align: center;
    padding-top: 2rem;
    font-size: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}