#section-projetos{
    background-color: white;
    width: 100%;
    
    margin-top: 550px;
    padding-bottom: 12rem;
}
#section-projetos{
    display: flex;
    justify-content: center;
    
}
.content-projetos{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projetos-title{
    padding-top: 55px;
    padding-bottom: 75px;
}
.projetos-title h1{
    font-size: 68px;
}
.projetos-content-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.projetos-content-img .div-segura-projetos{
    width: 31.5%;
    height: 23vh;
    zoom: 1.5;
    padding-bottom: 2.5vh;
    cursor: pointer;
    
}
.img-projetos{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.hover-projetos{
    
    position: relative;
    bottom: 103%;
    opacity:0;
    width: 100%;
    height: 100.7%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.hover-projetos:hover{
    opacity: 1;
}
@media (min-height:1000px){
    .hover-projetos{
        height: 102%;
    }
}
